<nav style="text-align: center; justify-content: center" class="navbar navbar-expand-xl navbar-dark bg-dark">
  <a style="font-size: 20px" class="navbar-brand" href="">Quick Draw</a>
</nav>

<div>
  <div class="container">
    <div class="row">
      <div class="col">
        <canvas [hidden]="canvasBackgroundHidden" style="margin-left: auto; margin-right: auto" id="canvas2" class="js-paint  paint-canvas"
                width="{{canvasWidth}}"
                height="{{canvasHeight}}"></canvas>
      </div>

      <div class="col">
        <canvas style="margin-left: auto; margin-right: auto" id="canvas" class="js-paint  paint-canvas" width="{{canvasWidth}}"
                height="{{canvasHeight}}"></canvas>
      </div>

      <div class="col mt-5 text-center">
        <p id="list">
          You can draw:<br><br>
          Apple<br>
          Face<br>
          Pizza<br>
          Campfire<br>
          Diamond<br>
          Donut<br>
          Fish<br>
          Hand<br>
          House<br>
          T-Shirt
        </p>
      </div>

    </div>
    <div class="row mt-1">
      <div class="col text-center">
        <label>Result:&nbsp;</label>
        <label id="output" class=""></label>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col text-center">
        <button type="button" class="btn btn-success" (click)="evaluate()">Evaluate</button>
        <button type="button" class="mr-2 ml-2 btn btn-danger" (click)="clear()">Clear</button>
      </div>
    </div>
    <div class="row mt-3 mb-5">
      <div class="col text-center">
        <button type="button" class="btn btn-info" (click)="download()">Download</button>
        <button type="button" class="btn btn-info ml-2" (click)="rescalerOn = !rescalerOn">
          Rescaling is:
          <ng-container *ngIf="rescalerOn">on</ng-container>
          <ng-container *ngIf="!rescalerOn">off</ng-container>
        </button>
        <button type="button" class="btn btn-info ml-2" (click)="smoothingON = !smoothingON">
          Smoothing is:
          <ng-container *ngIf="smoothingON">on</ng-container>
          <ng-container *ngIf="!smoothingON">off</ng-container>
        </button>
        <button type="button" class="btn btn-info ml-2" (click)="changeModel()">
          Ai mode:
          <ng-container *ngIf="!mode">10 classes</ng-container>
          <ng-container *ngIf="mode">21 classes</ng-container>
        </button>
      </div>
    </div>
  </div>
</div>
